.hello {
  font-family: 'MyFont';
  background: url('../images/mugshot.jpg');
}

.mugshot {
  width: 285px;
  margin: auto;
}

.About {
 text-align: center;
}

.gridbox {}

.contactclass {
margin: 25px;

}

.label {
  /* padding: 100px;
    grid-column: 1; */
}

.inputclass {
  border-radius: 3px;
}

.contactTable {
  display: contents;
  margin-left: auto;
  margin-right: auto;
}

.Home {
  display: grid;
}

textarea {
  width: 400px;
  height: 70px;
}

.searchbar {
  margin: 5px;
}

.searchcontainer {
  text-align: center;
}



thead {}

ul {
  list-style: none;
  display: flex;
}

a {
  margin: auto;
}

.navHeader{
  padding: 25px;
}
.Books {
text-align: center;
}

div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}
