.hello {
  font-family: 'MyFont';
  background: url('../images/mugshot.jpg');
}

.mugshot {
  width: 285px;
  margin: auto;
}

.About {
 text-align: center;
}

.contactclass {
margin: 25px;

}

.inputclass {
  border-radius: 3px;
}

.contactTable {
  display: contents;
  margin-left: auto;
  margin-right: auto;
}

.Home {
  display: grid;
}

textarea {
  width: 400px;
  height: 70px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  margin: auto;
}

.navHeader{
  padding: 25px;
}
.instructions {
text-align: center;
}

div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}
